
*.pyc

Database/.breakpoints

SQL-Database/.breakpoints

*.toml

*.lock

*.json

Database/backup

Pygame-Dependent/.DS_Store

.DS_Store

Pygame-Dependent/Snake/.breakpoints

Pygame-Dependent/A-Case-of-CCCs/.breakpoints
